{% extends "base.html" %} {% block title %}Examenes{% endblock %} {% block content
    %}
    <h1 align="center">Exámenes</h1>
    <ul class="list-group list-group-flush" id="examen">
      {% for examen in user.examen %}
      <li class="list-group-item">
        {{ examen.data }}
        <button type="button" class="close" onClick="deleteExamen({{examen.id}})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="examen" id="examen" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Añadir Examen</button>
      </div>
    </form>
    {% endblock %}